
/* News */
.new-imge{
    align-items: center;
}

.paragraph{
    text-align: center;
}

.NewData{
    align-items: center;
    display: inline-flex;
    width: 49%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Header */
.header{
    background-color:white;
    margin-bottom: 30px;
    width: 1200px;
}

.body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.barra-superior{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #00CD98;  
}

.titulo-principal, .contenedor-menu{
    width: 50%;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-indent: 30px;
}

.menu-principal{
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.menu-principal_item>a:hover{
    font-size: 18px;
    text-decoration: underline;
    
}

.menu-principal_item >a{
    text-decoration: none;
    color:whitesmoke;
    font-family: sans-serif;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_titulo{

    position: absolute; height: 480px;
    font-style: normal;
    color:#00CD98;    
    font-size: 35px;
    font-family: sans-serif;
    
}

.footer{
    display: flex;
    background-color: grey;
    
}
.footer-container{
    padding: 20px;
    color:gainsboro;
    max-width: 600px;
}
.white{
    color:white;
}

.Servicios .Tapiz{
    height: 500px;
    background-color: rgb(83, 81, 81);
}

.Servicios .Seccion{
    width: 32% ;
    height: 480px;
    background-color: rgb(38, 41, 92);
    display: inline-table;
    padding: 0px;
    margin: 10px;
    text-align: center;
    color: white;
    font-family: 'Calibri';
}

.Servicios .Servicio1{
    background: url("img/frontend.jpg") center;
    min-height: 200px;
}

.Servicios .Servicio2{
    background: url("img/backend.jpg") center;
    min-height: 200px;
}

.Servicios .Servicio3{
    background: url("img/database.jpg") center;
    min-height: 200px;
}

.Servicios .Subtitulo{
    padding: -10px;
    bottom: 0;
}

.Servicios .Texto{
    padding: -20px;
    margin: 10px;
    text-align: justify;
}
.col-5{
    width: 19%;
    height: 470px;
    display: inline-block;
    margin: 5px 4px 0;
    text-align: center;
    background-color: rgb(148, 234, 255);
}
.section-3{
    height: 500px;
    background-color: rgb(80, 255, 246);
}

.section-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}
.service-content{
    padding: 0.5em 0;
}
